<h1><%= title %></h1>
<% highscores.forEach(highscore => { %>
<div class="indexGames">
  <div id="container1">
    <h3><%= highscore.game %></h3>
    <p><%= highscore.player %>, <%= highscore.date %></p>
  </div>
  <div id="container2">
    <p><%= highscore.points %></p>
  </div>
</div>
<% }) %>
