<p>Hittade <%= games.length %> träffar</p>

<% games.forEach(game => { %>
<a href="/games/<%= game.url_slug %>">
  <div class="searchGames">
    <div>
      <h3><%= game.title %></h3>
      <p><%= game.genre %>, <%= game.release_year %></p>
    </div>
    <div><img src="<%= game.image_url %>" alt=""/></div>
  </div>
</a>
<% }) %>
