<p>Hittade <%= games.length %> träffar</p>

<% games.forEach(game => { %>
<div class="searchGames">
  <div class="container1">
    <a href="/games/<%= game.url_slug %>">
      <h3><%= game.title %></h3>
    </a>
    <p><%= game.name %>, <%= game.release_year.toLocaleDateString(); %></p>
  </div>
  <img src="<%= game.image_url %>" alt="" width="200px" />
</div>
<% }) %>
