<div class="detailsFlexbox">
  <img src="<%= game.image_url %>" alt="" width="400px" />
  <div>
    <h2><%= game.title %></h2>
    <p id="yearGenre">
      <%= game.release_year.toLocaleDateString(); %>, <%= game.genre %>
    </p>
    <div id="descriptionContainer">
    <p><%= game.description %></p>
  </div>
  </div>
</div>

<h2>Highscores</h2>
<% if(game.highscores[0].player == null) { %>
<div class="detailsHighscores">No data</div>
<% } else { %> <% game.highscores.forEach(highscore => { %>
<div class="detailsHighscores">
  <p><%= highscore.player %>, <%= highscore.date.toLocaleDateString() %></p>
  <p><%= highscore.points %></p>
</div>
<% }) %> <% } %>